//Fonts
$font: 'proxima-nova', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;

//Animations
@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';
  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};
    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation: $animations;
  -o-animation: $animations;
  animation: $animations;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

//Colors

html {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: inherit;    /* Firefox, other Gecko */
  box-sizing: inherit;
}

html, body {
  font-family: $font;
  font-size: 20px;
  margin: 0;
  background-color: transparent;
}

.container {
  width: 100%;
  padding: 0.5rem;
  opacity: 0;
  position: absolute;
  @include animation('on 0.8s ease-in-out 0s forwards');
}

//Header
header {
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 100;

  .inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    background-color: transparent;
    padding: 0 1.5rem;
    border: 1px solid transparent;
    transition: 0.3s;

    .logo {
      a {
        font-family: 'aktiv-grotesk';
        font-size: 1.3rem;
        font-weight: 700;
        text-decoration: none;
        letter-spacing: 9px;
        color: black;
      }
    }
    .navigation {
      nav {
        a {
          margin: 0 20px;
          text-decoration: none;
          font-size: 0.65rem;
          letter-spacing: 1.75px;
          color: black;
          opacity: 0.6;
          transition: 0.3s;
        }
        a:hover {
          opacity: 1;
          transition: 0.3s;
        }
      }
    }
  }
}

.has-background {
  background-color: rgba($color: white, $alpha: 0.8) !important;
  border: 1px solid #00000010 !important;
  transition: 0.3s;
}


// ------------- HOME ------------ //
//Hero Section
.hero {
  display: flex;
  align-items: center;
  background-color: white;
  position: relative;
  height: 120vh;

  .row {
    position: relative;
    background-color: white;

    .hero-text {
      font-size: 7.8vh;
      font-weight: 600;
      letter-spacing: -4px;
      line-height: 100%;
      color: black;
      position: absolute;
      width: 35vw;
      left: 8%;
      transform: translateY(-50%);
      text-align: left;
      z-index: 99;
      & p {
        font-size: 2.7vh;
        letter-spacing: 0;
        font-weight: 300;
        line-height: 130%;
        margin-top: 3rem;
        margin-bottom: 5rem;
      }
      & a {
        text-decoration: none;
        font-size: 1rem;
        letter-spacing: 0;
        font-weight: 500;
        color: white;
        padding: 1rem 2.5rem 1rem 2.5rem;
        background-color: black;
        transition: 0.3s;
        &:hover {
          opacity: 0.5;
          transition: 0.3s;
          padding: 1rem 2.5rem 1rem 2.5rem;
          box-shadow: -3px 3px 5px grey;
        }
      }

    }
    .hero-image {
      position: absolute;
      width: 84vw;
      left: 33vw;
      transform: translateY(-45%);
      background-image: linear-gradient(to right, #c3c3c3, #cacaca, #d0d0d0, #d7d7d7, #dedede, #e3e3e3, #e8e8e8, #ededed, #f1f1f1, #f6f6f6, #fafafa, #ffffff);;
      margin: 0 auto;
      height: 90vh;
      z-index: 9;
    }
    .hl-project {
      margin: 0 auto;
      padding: 5% 6% 3% 0;
      width: 51%;
      z-index: 10;
    }
  }
}

//Services Section
.services {
  display: flex;
  align-items: center;
  background-color: black;
  position: relative;
  height: 80vh;

  .row {
    position: relative;
    background-color: white;
    content: "";
    
  }
}

@include keyframes (on) {
  100% {
    opacity: 1;
  }
}