//Fonts
$font: 'proxima-nova', 'permanent-marker', -apple-system, BlinkMacSystemFont, 'Open Sans', 'Helvetica Neue', sans-serif;

//Animations
@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';
  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};
    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation: $animations;
  -o-animation: $animations;
  animation: $animations;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

//Colors

@import "~bulma/bulma.sass";

html {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: inherit;    /* Firefox, other Gecko */
  box-sizing: inherit;
}

html, body {
  font-family: $font;
  font-size: 16px;
  margin: 0;
  background-color: transparent;
}

.section {
  padding: 5rem 1.5rem;

  .is-long {
    padding-bottom: 14rem;
  }
}


//Headings
.title {
  font-family: 'aktiv-grotesk';
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.subtitle {
  font-size: 1.25rem;
}


//Buttons
a, .button {
  transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  font-weight: 400;
}

.button.is-outlined {
  border-width: 2px;
}

.button.is-black {
  background-color: transparent;
  border-color: black;
  color: black;

  &:hover {
    background-color: black;
    color: invert($color: black)
  }
}

.button.is-white {
  background-color: transparent;
  border-color: white;
  color: white;

  &:hover {
    background-color: white;
    color: invert($color: white)
  }
}

.button.is-yellow {
  background-color: transparent;
  border-color: #FEDB6A;
  color: #FEDB6A;

  &:hover {
    background-color: #FEDB6A;
    color: white;
  }
}



//Navbar
.navbar .navbar-brand a.navbar-item {
  max-height: 4rem;
}

.navbar .navbar-brand .navbar-burger {
  height: inherit;
}

.navbar {
  padding: 1.2rem 0;
  box-shadow: none;
  z-index: auto;
}

.navbar > .container {
  -webkit-box-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: flex;
  min-height: 3.25rem;
  width: 100%;
}

.navbar .navbar-menu a.button.is-black.is-outlined {
  border-width: 2px;
  font-weight: 400;
  font-size: 18px;
  padding: 1.2rem 1.4rem;
}

.contact-button {
  margin: auto 1rem auto auto;
}



// ------------- HOME ------------ //
//Hero Section
.hero {
  padding-bottom: 0;

  .hero-body {
    padding-top: 0;

    .container {

      .title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        font-family: 'permanent-marker';
        font-size: 2rem;

        .title-letter {
          padding: 0 0.18rem;
          cursor: default;
        }
      }

      .subtitle {
        font-family: 'proxima-nova';
        font-weight: 300;
        color: #515151;
        font-size: 1.2rem;
        margin-bottom: auto;
      }
    }
  }

  .hero-foot .is-bottom {

    .hero-image-container {
      display: flex;
      height: 70vh;
      width: auto;
      justify-content: center;
      align-items: center;

      .hero-image {
        position: absolute;
        box-shadow: #00000010;
      }
    }
  }
}

//About Section
.about {
  display: flex;
  justify-content: center;
  background-color: black;
  position: relative;

  .container {
    max-width: 1344px;
  }

  .section-title {
    text-align: center;
    letter-spacing: 0.2rem;
    color: white;
  }

  .section-subtitle {
    text-align: center;
    font-weight: 300;
    color: white;
  }
}

//Skills Section
.section.skills {
  margin-top: -14rem;
  padding-bottom: 1rem;

  .container.is-narrow {
    max-width: 1200px;

    .box {
      padding: 0;
  
      .content {
        .columns {
          margin-left: 0;
          margin-right: 0;

          .column {
            padding: 50px 30px;
            border-bottom: 1px solid #E6ECF8;
            border-right: 0px solid #E6ECF8;

            figure.image {
              .is-skill-icon {
                width: 62px;
                height: auto;
              }
            }

            p {
              font-size: 18px;
            }

            p.list-title {
              margin-top: 50px;
              margin-bottom: 8px;
              color: #21C2FC;
            }

            ul {
              list-style: none;
              margin-left: 0;
              margin-top: 0;
              font-weight: 300;

              li {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}

//Projects Section
.section.projects {
  border-bottom: 1px #e3e3e3a0 solid;

  .container.is-narrow {
    max-width: 1200px;
  }

  .container {
    .project-grid {

      .columns .column figure {
        position: relative;
        overflow: hidden;
        border-radius: 12px;

        img.project-thumb {
          -webkit-transform: scale(1);
          transform: scale(1);
          -webkit-transition: .25s ease-in-out;
          transition: .25s ease-in-out;
          border-radius: 12px;
          overflow: hidden;
        }

        img.project-logo {
          max-height: 50%;
          max-width: 55%;
          margin: auto;
          z-index: 3;
          transition: 0.25s;
        }
      }
    }

    .overlay {
      background-color: #000000d3;
      border-radius: 12px;
      opacity: 1;
      transition: 0.25s;
    }
  }
}

.projects .project-grid .overlay, 
.projects .project-grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.projects .project-grid {
  padding: 2rem 0 4rem;

  figure figcaption {
    padding: 0 1rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    z-index: 1;

    h3.subtitle {
      color: #fff;
      font-family: 'aktiv-grotesk';
      font-size: 1.4rem;
      font-weight: 500;
      text-align: right;
      margin: 0.9rem 0 0 auto;
      transition: 0.25s;
    }

    p {
      color: #fff;
      font-size: 1rem;
      font-weight: 300;
      text-align: right;
      transition: 0.25s;
    }

    a {
      margin: auto auto 2rem auto;
      text-decoration: none;
      font-size: 0.9rem;
      font-weight: 500;
      letter-spacing: 1.5px;
      color: white;
      opacity: 1;
      transition: 0.25s;
      padding: 0.5rem 1.2rem;
      border: 2px solid white;
      border-radius: 25px;

      &:hover {
        opacity: 1;
        background-color: white;
        color: rgb(40, 40, 40);
        transition: 0.25s;
        bottom: 10%;
      }
    }
  }
}

.projects .button.is-yellow.is-outlined.is-medium {
  padding: 1.25em 2em;
  font-weight: 400;
  border-width: 2px;
  margin-top: 2rem;
}


//Tools/Tech Section
.tech {

  .container.is-narrow {
    max-width: 1344px;
  }
}


.tech-grid {
  padding: 3rem 0 4rem;
  scale: 0.5;

  .columns {
    padding: 1.5rem 0;

    .column {
      margin-top: auto;
    }
  }
}


//Call to Action Section
.section.CTA {
  background-color: #000;

  .box {
    padding: 5rem 2rem;
    margin-top: -12rem;
    background-color: #F79ECB;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #F79ECB;

    .title, .subtitle {
      color: white;
    }
  }
}

.CTA .button.is-white.is-outlined.is-medium {
  padding: 1.25em 3em;
  font-weight: 600;
  border-width: 2px;
  margin-top: 2rem;

  &:hover {
    color: #F79ECB;
  }
}


//Footer Section
footer.section.is-small {
  padding: 0rem 1.5rem 4rem;
}

.section.footer {
  background-color: #000;

  .title {
    color: white;
    font-family: 'proxima-nova';
    font-weight: 300;
    font-size: 1.5rem;
    margin: 3rem auto 2rem auto;
    max-width: 400px;
    opacity: 0.8;
  }

  .social-icons {
    margin: 0 auto 3rem;

    a.button.is-medium {
      font-size: 1.05rem;
      color: white;

      &:hover {
        background: white;
        color: #000;
        border: 2px solid white;
      }
    }
  }
}

footer .social-icons a.button {
  background-color: transparent;
  color: white;
  border-radius: 100%;
  margin: 0 .2rem;
  height: 47px;
  width: 47px;
  border: 2px solid rgba(255, 255, 255, 0.3);
}



//CONTACT PAGE---------//
.contact {

  nav.is-planner {
    border-bottom: 1px solid #E6ECF8;

    .button {
      font-weight: 400;
      color: black;
      border-color: white;
    }
  }

  .is-form-page .container {
    padding: 0 20px;

    .avatar {
      width: 100px;
      margin: -50px auto 50px;
      z-index: 10;
    }

    h1.title {
      font-family: 'proxima-nova';
      font-weight: 400;
      font-size: 1.4rem;
      margin: 1rem 0;
      letter-spacing: 1px;
    }

    form {
      max-width: 640px;
      margin: 32px auto 0;
      
      label {
        font-weight: 500;
        opacity: 0.8;
        font-size: 1.1rem;
      }

      textarea {
        margin-top: 0px;
        margin-bottom: 0px;
        height: 199px;
      }
    }

    button {
      margin: 2rem auto;
    }
  }
}

.is-form-page .container form input.is-large, .is-form-page .container form textarea.is-large, .is-form-page .container form select.is-large {
  font-size: 1.2rem;
}

.is-form-page .container form button {
  margin: 2rem 0 6rem;
  border-width: 2px;
  font-weight: 400;
  height: auto;
}




//Animations
.animate-fadeDown {
  -webkit-animation: fadeIn 2s, translate-down 0.75s;
  animation: fadeIn 2s, translate-down 0.75s;
} 
.animate-fadeUp {
  -webkit-animation: fadeIn 2s, translate-up 1s;
  animation: fadeIn 2s, translate-up 1s;
}

@keyframes fadeIn {
  0% {
     opacity: 0;
     transform: translateY(-20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
} 

@include keyframes (on) {
  100% {
    opacity: 1;
  }
}

.construction {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 0.3s;
}



//Media Queries
@media screen and (min-width: 319px) {
  .navbar-item img {
    height: 20px;
    padding-left: 1rem;
  }

  .contact-button {
    padding-right: 0.25rem;
    font-size: 0.8rem;
  }

  .hero {
    padding: 1rem 1.5rem;
  }

  .hero .hero-body {
    padding: 0;
  }

  .hero .hero-body .container .columns .column .columns .column {
    padding-bottom: 0;
  }

  .section-subtitle {
    margin-bottom: 10rem;
  }

  .hero .hero-body .container .title {
    white-space: normal;
    font-size: 1.7rem;
  }

  .hero .hero-body .container .subtitle {
    padding-top: 1rem;
    font-size: 0.8rem;
  }

  .hero .hero-foot .is-bottom .hero-image-container {
    height: 50vh;
  }

  .hero-image {
    width: 150px;
  }

  .subtitle {
    font-size: 1rem;
  }

  .tech-grid {
    padding: 2rem 0 3rem;
    scale: 0.5;
  }

  .tech-grid .columns {
    padding: 0.5rem 1rem;
  }
}


@media screen and (min-width: 769px) {
  .navbar-item img {
    height: auto;
    padding-left: 0rem;
  }

  .contact-button {
    padding-right: 0rem;
    font-size: 1rem;
  }

  .hero {
    padding: 5rem 1.5rem;
  }

  .hero .hero-body .container .title {
    font-size: 2rem;
  }

  .hero .hero-body .container .subtitle {
    padding-top: 0rem;
    font-size: 1.2rem;
  }

  .section.is-long {
    padding-bottom: 16rem;
  }

  .hero .hero-body .container .columns .column .columns .column {
    padding: 0.75rem;
  }

  .section-subtitle {
    margin-bottom: 0;
  }

  .hero .hero-foot .is-bottom .hero-image-container {
    height: 70vh;
  }

  .hero-image {
    width: auto;
  }

  .subtitle {
    font-size: 1.25rem;
  }

  .section.skills .container.is-narrow  .box .content .columns .column {
    border-bottom: 0px solid #E6ECF8;
    border-right: 1px solid #E6ECF8;
    padding: 60px 35px;
  }

  .projects .project-grid {
    padding-top: 4rem;

    figure figcaption {
      padding: 0rem 1rem;
    }
  }

  footer.section.is-small {
    padding: 1rem 1.5rem 4rem;
  }

  footer .title {
    max-width: 300px;
  }

  footer .social-icons {
    margin: 0 auto 3.5rem;
  }

  footer .social-icons a.button {
    margin: 0 0.8rem;
  }

  footer .social-icons a.button.is-medium {
    font-size: 1.18rem;
  }

  .is-form-page .container form {
    margin: 60px auto 0;
  }
}

@media screen and (min-width: 1216px) {
  .section.is-long {
    padding-bottom: 18rem;
  }

  .section.skills .container.is-narrow .box .content .columns .column {
    padding: 70px 55px;
  }
}

@media screen and (min-width: 1408px) {
  .columns:not(.is-desktop) {
    display: -webkit-box;
    display: flex;
  }
}